main {
	display: flex;
	align-items: center;
	justify-content: center;
}

.login {
	border: 1px solid darkgreen;
	width: 30em;
	background-color: lightgreen;
	text-align: center;
}

.login .form-inputs {
	align-items: center;
	justify-content: center;
}

.login header {
	display: block;
	text-align: center;
}

label {
	color: darkgreen;
}

.errors {
	color: red
}

.submit-buttons {
	padding: 3em;
}

.login-button {
	padding-bottom: 1em;
}
