body {
	background-color: #eee;
}

body > a {
	text-decoration: none;
	color: blue;
}

body > a:visited {
	text-decoration: none;
	color: blue;
}

body > a > header {
	padding: 1em 0.5em;
	text-align: center;
	font-size: 2em;
	background-color: lightblue;
}

nav {
	display: flex; 
	border-bottom: 1px;
	border-top: 1px;
	height: 4em;
	background-color: lightgreen;
	align-items: center;
	justify-content: flex-end;
}

nav  .search {
	margin: 10px;
}

nav > .controls {
}

nav > .controls a {
	padding: 1em 2em;
	text-decoration: none;
	background-color: darkblue;
	color: #fff;
}

nav > .controls a:hover {
	opacity: 80%;
	color: lightblue;
}

nav strong {
	color: darkgreen;
}
