:root {
	--red: #bf616a;
	--orange: #d08770;
	--yellow: #ebcb8b;
	--green: #a3be8c;
	--purple: #b48ead;

	--lightblue: #88c0d0;
	--darkblue: #5e81ac;

	--black: #2e3440;
	--darkgrey: #4c556a;
	--grey: #d8dee9;
	--lightgrey: #e5e9f0;
	--white: #eceff4;
}

body {
	background-color: var(--grey);
}

body > a {
	text-decoration: none;
	color: var(--var(--blue));
}

body > a:visited {
	text-decoration: none;
	color: var(--blue);
}

body > a > header {
	padding: 1em 0.5em;
	text-align: center;
	font-size: 2em;
	background-color: var(--blue);
}

nav {
	display: flex; 
	border-bottom: 1px;
	border-top: 1px;
	height: 4em;
	background-color: var(--green);
	align-items: center;
	justify-content: flex-end;
}

nav  .search {
	margin: 10px;
}

nav > .controls {
}

nav > .controls a {
	padding: 1em 2em;
	text-decoration: none;
	background-color: var(--blue);
	color: #fff;
}

nav > .controls a:hover {
	opacity: 80%;
	color: var(--lightblue);
}

nav strong {
	color: darkgreen;
}
