:root {
	--red: #bf616a;
	--orange: #d08770;
	--yellow: #ebcb8b;
	--green: #a3be8c;
	--purple: #b48ead;

	--lightblue: #88c0d0;
	--darkblue: #5e81ac;

	--black: #2e3440;
	--darkgrey: #4c556a;
	--grey: #d8dee9;
	--lightgrey: #e5e9f0;
	--white: #eceff4;
}

.button {
	height: 3rem;
	background-color: var(--darkblue);
	color: var(--white);
	border: none;
}

.button:hover {
	cursor: pointer;
	opacity: 80%;
}

a:hover {
	opacity: 80%;
}

body {
	background-color: var(--grey);
	color: var(--black);
}

body > a {
	text-decoration: none;
	color: var(--darkblue);
}

body > a:visited {
	text-decoration: none;
	color: var(--blue);
}

body > a > header {
	padding: 1rem 0.5rem;
	text-align: center;
	font-size: 2em;
	background-color: var(--darkblue);
	color: var(--white);
}

nav {
	display: flex; 
	border-bottom: 1px solid darkgreen;
	border-left: 1px solid darkgreen;
	border-right: 1px solid darkgreen;
	height: 4em;
	background-color: var(--green);
	align-items: center;
	justify-content: space-between;
}

nav a {
	display: inline-block;
	padding: 1em 2em;
	margin: 0 2em 0;
	text-decoration: none;
	background-color: var(--darkblue);
	color: #fff;
}

nav strong {
	color: darkgreen;
}
