<!doctype html>
<html>
	<head>
	<title>Events</title>
	<link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" type="text/css" media="all">
	<link rel="icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/png">
	{% block css %}
	{% endblock %}
	</head>

	<body>

	<a href="{{url_for('home')}}">
	<header>
		Unievent
		{% if current_user.is_authenticated %}
		AUTHENTICATED as {{ current_user }}
		{% endif %}
	</header>
	</a>

	<nav>
		<div class="search">
			<form action="{{url_for('search')}}" method="post">
				{% block search %}
				{% endblock %}
			</form>
		</div>
		<div class="controls">
			{% if current_user.is_authenticated %}
			{% else %}
			<a href="{{url_for('login')}}">Login</a>
			<a href="{{url_for('signup')}}">Sign Up</a>
			{% endif %}
		</div>
	</nav>

	{% block content %}
	{% endblock %}

	<footer>
	</footer>

	</body>
</html>
