<!doctype html>
<html>
	<head>
	<title>Events</title>
	<link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" type="text/css" media="all">
	<link rel="icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/png">
	{% block css %}
	{% endblock %}
	</head>

	<body>

	<header>
		<a class="button" href="{{url_for('home')}}">
		<h1>Unievent</h1>
		</a>
	</header>
	<nav>
		<div class="controls-left">

		{% if priv['authed'] %}

		<a class="button" href="{{url_for('search')}}">Search</a>

		{% if priv['superadmin'] %}
		<a class="button" href="{{url_for('location_create')}}">Create Location</a>
		<a class="button" href="{{url_for('university_manage')}}">Manage University</a>
		<a class="button" href="{{url_for('university_create')}}">Create University</a>
		<a class="button" href="{{url_for('event_create', event_type='public')}}">New Public Event</a>
		{% endif %}

		{% if priv['admin'] %}
		<a class="button" href="{{url_for('rso_manage')}}">Manage RSO</a>
		{% else %}
		<a class="button" href="{{url_for('rso_create')}}">Create RSO</a>
		{% endif %}

		{% endif %}
		</div>
		<div class="controls-right">
			{% if priv['authed'] %}
			<span class="user-info">{{priv['email']}}{% if priv['admin'] or priv['superadmin'] %}::&lt;{% endif %}{% if priv['admin'] %}Admin{% endif %}{% if priv['admin'] and priv['superadmin'] %}, {% endif %}
			{% if priv['superadmin'] %}SuperAdmin{% endif %}{% if priv['admin'] or priv['superadmin'] %}&gt;{% endif %}
			</span>
			<a class="button" href="{{url_for('logout')}}">Logout</a>
			{% else %}
			<a class="button" href="{{url_for('login')}}">Login</a>
			<a class="button" href="{{url_for('signup')}}">Sign Up</a>
			{% endif %}
		</div>
	</nav>

	{% block content %}
	{% endblock %}

	</body>
</html>
