<!doctype html>
<html>
	<head>
	<title>Events</title>
	<link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" type="text/css" media="all">
	<link rel="icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/png">
	{% block css %}
	{% endblock %}
	</head>

	<body>

	<header>
		<a class="button" href="{{url_for('home')}}">
		<h1>Unievent</h1>
		</a>
	</header>
	<nav>
		<div class="controls-left">
		{% if current_user.is_superadmin %}
		<a class="button" href="{{url_for('manage_universities')}}">Manage Universities</a>
		<a class="button" href="{{url_for('create_university')}}">Create University</a>
		{% endif %}
		{% if current_user.is_admin %}
		<a class="button" href="{{url_for('manage_rso')}}">Manage RSO</a>
		{% elif current_user.is_authenticated %}
		<a class="button" href="{{url_for('create_rso')}}">Create RSO</a>
		{% endif %}
		</div>
		<div class="controls-right">
			{% if current_user.is_authenticated %}
			<span class="user-info">{{current_user}}
			{% if current_user.is_admin or current_user.is_superadmin %}::&lt;{% endif %}
			{% if current_user.is_admin %}Admin{% endif %}
			{% if current_user.is_admin and current_user.is_admin %}, {% endif %}
			{% if current_user.is_superadmin %} SuperAdmin {% endif %} 
			{% if current_user.is_admin or current_user.is_superadmin %}&lt;{% endif %}
			</span>
			<a class="button" href="{{url_for('logout')}}">Logout</a>
			{% else %}
			<a class="button" href="{{url_for('login')}}">Login</a>
			<a class="button" href="{{url_for('signup')}}">Sign Up</a>
			{% endif %}
		</div>
	</nav>

	{% block content %}
	{% endblock %}

	</body>
</html>
