{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/search.css')}}">
{% endblock %}

{% block content %}
<main>
	<aside>
		<header>
			<h2>Search Events</h2>
		</header>

		<form action="/search" method="post">
			{{ form.hidden_tag() }}
			<div class="field"> {{ form.event_name(placeholder='Event')}}</div>
			<div class="field"> {{ form.university }}</div> 
			<div class="big-field"> {{ form.event_type }}</div>
			<div class="big-field"><div>{{ form.date_from.label() }}</div><div>{{ form.date_from }}</div></div>
			<div class="big-field"><div>{{ form.date_to.label() }}</div><div>{{ form.date_to }}</div></div>
			{{ form.submit(class='button') }}

			<div class="form-errors">
			{% for e in form.event_name.errors %} <p><em>e n{{ e }}</em></p> {% endfor %}
			{% for e in form.university.errors %} <p><em>u {{ e }}</em></p> {% endfor %} 
			{% for e in form.event_type.errors %} <p><em> et {{ e }}</em></p> {% endfor %}
			{% for e in form.date_from.errors %} <p><em>df{{ e }}</em></p> {% endfor %}
			{% for e in form.date_to.errors %} <p><em>dt{{ e }}</em></p> {% endfor %}
			</div>
		</form>
	</aside>

	<div class="events-wrapper">
		<div class="events"> {% for event in events %}
			<div class="event">
			<!-- <img href="{{ event['file_path']}}" alt="Event"> -->
			<ul>
				<li>{{ event.name }}</li>
				<li>{{ event.description }}</li>
				<li>{{ event.phone }}</li>
				<li>Date: {{ event.datestamp }}</li>
			</ul>
			</div> {% endfor %} 
		</div>
	</div>
</main>
{% endblock %}
