{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/search.css')}}">
{% endblock %}

{% block content %}
<aside>
	<header>
		<h2>Search Events</h2>
	</header>

	<form action="/search" method="post">
		<div class="field"> {{ form.event_name(placeholder='Event')}}</div>
		<div class="field"> {{ form.university_name(placeholder='University') }}</div>
		<div class="big-field"> {{ form.event_type }}</div>
		<div class="big-field"><div>{{ form.date_begin.label() }}</div><div>{{ form.date_begin }}</div></div>
		<div class="big-field"><div>{{ form.date_end.label() }}</div><div>{{ form.date_end }}</div></div>
		<div class="submit">{{ form.submit(class='submit') }}</div>
	</form>
</aside>

<main>
	{% for event in events %}
	<div class="event">
		<img href="{{ event['file_path']}}" alt="Event">
	</div>
	{% endfor %} 
</main>
{% endblock %}
