{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', 'css/search.css')}}">
{% endblock %}

{% block content %}
<sidebar>
	<header>
		<h1>Search</h1>
	</header>

	<form action="/search" method="post">
		<div class="event_name">
		{{ form.event_name.label() }} {{ form.event_name }}
		</div>
		<div class="event_type">
		{{ form.event_type.label() }} {{ form.event_type }}
		</div>
		<div class="university_name">
		{{ form.university_name.label() }} {{ form.university_name }}
		</div>
		<div class="datestamp">
			{{ form.datestamp }}
		</div>
	</form>
</sidebar>

<main>
	{% for event in events %}
	<div class="event">
		<img href="{{ event['file_path']}}" alt="Event">
	</div>
	{% endfor %} 
</main>
{% endblock %}
